@font-face {
  font-family: "Shrikhand";
  src: url("../../../Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../../../Roboto-Regular.ttf") format("truetype");
}
* {
  font-family: "Roboto", "Trebuchet MS";
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.paddinged {
  padding: 0 15px;
}

.current-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
}
.current-location__icon {
  color: #353535;
}
.current-location__text {
  margin-left: 15px;
  color: #353535;
}

.button {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px 20px;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 0 3px 12px #d2d2d2;
}
.button:hover {
  background-image: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0 3px 12px #929292;
}

.tuto-card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  width: 95%;
  margin: 10px 0 15px 10px;
  height: 70px;
}
.tuto-card--hightlighting > .tuto-card__body {
  background-color: #f5edff;
}
.tuto-card--hightlighting .tuto-card__body__icon {
  color: #9356dc;
}
.tuto-card:nth-child(1)::before {
  content: "1";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -13px;
  background-color: #9356dc;
  color: white;
  font-size: 0.8em;
  width: 27px;
  height: 25px;
  border-radius: 1000px;
  z-index: 2;
}
.tuto-card:nth-child(2)::before {
  content: "2";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -13px;
  background-color: #9356dc;
  color: white;
  font-size: 0.8em;
  width: 27px;
  height: 25px;
  border-radius: 1000px;
  z-index: 2;
}
.tuto-card:nth-child(3)::before {
  content: "3";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -13px;
  background-color: #9356dc;
  color: white;
  font-size: 0.8em;
  width: 27px;
  height: 25px;
  border-radius: 1000px;
  z-index: 2;
}
.tuto-card__body {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 6px rgb(210, 210, 210);
  font-weight: bold;
}
.tuto-card__body__icon {
  color: #7e7e7e;
  font-size: 1.2em;
  margin: 0 20px 0 30px;
}

.restaurant-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 6px 6px #d2d2d2;
  border-radius: 15px;
  height: 220px;
  margin: 10px 0;
}
.restaurant-card__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 70%;
}
.restaurant-card--new::before {
  content: "Nouveau";
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99e2d0;
  color: #239c7e;
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 2px;
  font-weight: bold;
}
.restaurant-card__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  height: 30%;
}
.restaurant-card__infos__text {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.restaurant-card__infos__text__title {
  margin: 0;
}

.heart-icon {
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.heart-icon-regular {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart-icon-solid {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0);
}
.heart-icon:hover > .heart-icon-regular {
  display: none;
}
.heart-icon:hover > .heart-icon-solid {
  cursor: pointer;
  background-image: linear-gradient(to top right, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
}

.header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px grey;
  height: 65px;
}
.header__logo {
  font-family: "Shrikhand", "Trebuchet MS";
  margin-top: 5px;
  font-size: 2em;
}

.tuto {
  display: flex;
  flex-direction: column;
}
.tuto__part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 35px;
  margin-bottom: 30px;
}
.tuto__part1__title {
  width: 80%;
  margin: 30px 0 0 0;
}
.tuto__part1__text {
  font-weight: 500;
}
.tuto__part2 {
  display: flex;
  flex-direction: column;
}
.tuto__part2__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding-top: 30px;
  margin-top: 50px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
  background-color: #353535;
  color: white;
  padding: 25px;
  margin-top: 60px;
}
.footer__title {
  font-family: "Shrikhand", "Trebuchet MS";
  font-weight: normal;
  margin: 0;
  font-size: 1.1em;
}
.footer__links {
  display: flex;
  justify-content: space-around;
  height: 72%;
  flex-direction: column;
}
.footer__links__link {
  color: white;
  font-size: 0.8em;
}
.footer__links__icon {
  font-size: 0.7em;
  margin-right: 5px;
}/*# sourceMappingURL=main.css.map */