@mixin resizeHeart($size) {
	width: $size;
	height: $size;
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin numberBeforeTutoCard($number) {
	$size: 27px;

	content: '' + $number;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: -13px;
	background-color: $primaryColor;
	color: white;
	font-size: 0.8em;
	width: $size;
	height: $size;
	border-radius: 1000px;
	z-index: 2;
}

@mixin gradiantText {
	background-image: linear-gradient(
		to top right,
		$secondaryColor,
		$primaryColor
	);
	background-clip: text;
	color: rgba($color: #000000, $alpha: 0);
	opacity: 1;
}

@mixin for-tablet-and-desktop-only {
	@media screen and (min-width: 800px) {
		@content;
	}
}
