.button {
	$transitionDuration: 500ms;
	$borderRadius: 30px;

	background-image: linear-gradient(
		to bottom right,
		$secondaryColor,
		$primaryColor
	);
	border: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 15px 20px;
	border-radius: $borderRadius;
	margin: 20px;
	box-shadow: 0 3px 12px $shadowColor;
	transition: $transitionDuration;
	&::after {
		$size: 100%;

		content: '';
		transition: $transitionDuration;
		position: absolute;
		background-color: white;
		opacity: 0;
		width: $size;
		height: $size;
		border-radius: $borderRadius;
	}

	&:hover {
		cursor: pointer;
		&::after {
			opacity: 0.05;
		}
		box-shadow: 0 3px 12px darken($shadowColor, 25%);
	}
}
