.current-location {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: darken($primaryBackgroundColor, 8%);
	$hightlightColor: #353535;
	&__icon {
		color: $hightlightColor;
	}

	&__text {
		margin-left: 15px;
		color: $hightlightColor;
	}
}

@include for-tablet-and-desktop-only {
	.current-location {
		background-color: white;
		width: 45%;
		justify-content: flex-end;
	}
}
