.explore-button {
	background-image: linear-gradient(
		to bottom right,
		$secondaryColor,
		$primaryColor
	);
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	border-radius: 30px;
	margin: 20px;
	box-shadow: 0 3px 12px grey;
}
