.go-back-button {
	$size: 15px;

	position: absolute;
	width: $size;
	height: $size;
	font-size: 1.3em;
	left: 20px;
	margin-bottom: 5px;
}

@include for-tablet-and-desktop-only {
	.go-back-button {
		$rightAndLeftMargin: 20px;
		position: initial;
		margin-left: $rightAndLeftMargin;
		margin-right: $rightAndLeftMargin;
	}
}
