.heart-icon {
	font-size: 1.5em;
	$size: 30px;
	@include resizeHeart($size);
	margin-right: 15px;
	transition: 100ms;

	&-regular {
		transition: 400ms;
		@include resizeHeart($size);
	}

	&-solid {
		transition: 400ms;
		@include resizeHeart($size);
		color: rgba($color: #000000, $alpha: 0);
		background-image: linear-gradient(
			to top right,
			$secondaryColor,
			$primaryColor
		);
		background-clip: text;
		opacity: 0;
	}

	&:hover > &-regular {
		opacity: 0;
	}

	&:hover > &-solid {
		cursor: pointer;
		opacity: 1;
	}

	&__checkbox {
		display: none;
	}

	&__checkbox:checked + label > & > &-solid {
		opacity: 1;
		transform: scale(1.2);
	}
	&__checkbox:checked + label > & > &-regular {
		opacity: 0;
	}
}
