$transitionDuration: 300ms;
.heart-icon {
	font-size: 1.5em;
	$size: 30px;
	@include resizeHeart($size);
	margin-right: 15px;
	transition: $transitionDuration;

	&-regular {
		transition: $transitionDuration;
		@include resizeHeart($size);
	}

	&-solid {
		@include resizeHeart($size);
		opacity: 0;
		transition: $transitionDuration;
	}

	&__checkbox {
		display: none;
	}

	&__checkbox:checked + label > & > &-solid {
		@include gradiantText;
		transform: scale(1.25);
	}
	&__checkbox:checked + label > & > &-regular {
		transform: scale(1.2);
		animation: optacity-0 0s linear $transitionDuration 1 alternate forwards;
	}
}

@keyframes optacity-0 {
	100% {
		opacity: 0;
	}
}

@media screen and (min-width: 800px) {
	.heart-icon {
		&:hover > &-solid {
			cursor: pointer;
			@include gradiantText;
		}
		&:hover > &-regular {
			animation: optacity-0 0s linear $transitionDuration 1 alternate forwards;
		}
	}
}
