.menu-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 65px;
	width: 100%;
	margin: 5px 0;
	border-radius: 15px;
	box-shadow: 0 5px 6px $shadowColor;
	background-color: white;
	&:hover > &__order > &__order__label,
	&:active > &__order > &__order__label {
		animation: menu-select-hover 450ms ease-in-out 100ms forwards;
	}
	&:not(:hover) > &__order > &__order__label {
		animation: menu-select-no-hover 450ms ease-in-out reverse;
	}
	&:hover > &__order > &__order__label > &__order__label__icon {
		opacity: 1;
		animation: rotate-icon-hover 450ms ease-in-out 100ms forwards;
	}
	&:not(:hover) > &__order > &__order__label > &__order__label__icon {
		opacity: 1;
		transform: rotate(0deg);
		animation: rotate-icon-no-hover 200ms ease-in-out 250ms;
	}
	&:hover > &__order {
		width: 30%;
	}

	&__text {
		margin: 12px;
		margin-right: 3px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&__title {
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0;
			font-size: 1em;
		}

		&__desc {
			font-size: 0.85em;
		}
	}

	&__order {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		width: 30%; // ? Temporaire

		&__price {
			margin-bottom: 12px;
			align-self: flex-end;
			font-size: 0.9em;
			margin-right: 12px;
			font-weight: bold;
		}

		&__label {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $tertiaryColor;
			font-size: 1.2em;
			color: white;
			height: 65%;
			width: 0;
			border-radius: 0;
			&__icon {
				opacity: 0;
				transform: rotate(90deg);
			}

			&:hover {
				cursor: pointer;
			}
		}

		&__radio {
			display: none;
		}

		&:has(> &__radio:checked) {
			width: 30%;
		}

		&__radio:checked + &__label {
			width: 60px;
			border-radius: 0 15px 15px 0;
			height: 100%;
		}
		&__radio:checked + &__label > &__label__icon {
			opacity: 1;
			transform: rotate(0deg);
		}
	}
}

@keyframes rotate-icon-hover {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-icon-no-hover {
	100% {
		opacity: 0;
	}
}

@keyframes menu-select-hover {
	40% {
		height: 100%;
		border-radius: 0 15px 15px 0;
	}

	100% {
		width: 60px;
		border-radius: 0 15px 15px 0;
		height: 100%;
	}
}

@keyframes menu-select-no-hover {
	40% {
		height: 100%;
		border-radius: 0 15px 15px 0;
	}

	100% {
		width: 60px;
		border-radius: 0 15px 15px 0;
		height: 100%;
	}
}

@media screen and (min-width: 800px) {
	.menu-card {
		width: 100%;
	}
}
