.menu-card {
	$animationDuration: 400ms;
	$translateTarget: 5px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 65px;
	width: 100%;
	margin: 5px 0;
	border-radius: 15px;
	box-shadow: 0 5px 6px $shadowColor;
	background-color: white;
	overflow: hidden;

	&:hover > &__order > &__order__label,
	&:active > &__order > &__order__label {
		width: 60px;
	}
	&:hover > &__order > &__order__label > &__order__label__icon {
		animation: rotate-icon-hover $animationDuration ease-in-out 100ms both;
	}

	&__radio {
		display: none;
	}

	&__radio:checked + &__text + &__order > &__order__label {
		width: 60px;
	}

	&__radio:checked + &__text + &__order > &__order__price {
		font-size: 1em;
		@include gradiantText;
	}

	&__text {
		display: flex;
		flex-direction: column;
		margin: 12px;
		margin-right: unset;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&__title {
			display: inline;
			overflow: inherit;
			text-overflow: inherit;
			margin: 0;
			margin-bottom: 5px;
			font-size: 1em;
		}

		&__desc {
			display: inline;
			overflow: inherit;
			text-overflow: ellipsis;
			font-size: 0.85em;
		}
	}

	&__order {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		transition: all $animationDuration ease-in-out;

		&__price {
			margin-bottom: 11px;
			align-self: flex-end;
			font-size: 0.9em;
			margin-right: 12px;
			font-weight: bold;
			color: rgba($color: #000000, $alpha: 1);
			transition: all ease-in-out 200ms;
		}

		&__label {
			$transitionDelay: 100ms;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $tertiaryColor;
			font-size: 1.2em;
			color: white;
			height: 100%;
			width: 0px;
			transition: all $animationDuration ease-in-out;
			transition-delay: $transitionDelay;
			&__icon {
				transition: all $animationDuration ease-in-out;
				transition-delay: $transitionDelay;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}
}

@keyframes rotate-icon-hover {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@mixin for-tablet-and-desktop-only {
	.menu-card {
		width: 100%;
	}
}
