.restaurant-card {
	position: relative; // ? 1

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0 6px 6px $shadowColor;
	border-radius: 15px;
	height: 220px;
	margin: 10px 0;

	&__img {
		object-fit: cover;
		border-radius: 15px 15px 0 0;
		height: 70%;
	}

	&--new {
		&::before {
			content: 'Nouveau';
			position: absolute;
			right: 15px;
			top: 15px;

			background-color: $tertiaryColor;
			color: #239c7e;
			padding: 5px 10px;
			font-size: 0.8em;
			border-radius: 2px;
			font-weight: bold;
		}
	}

	&__infos {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 10px;
		height: 30%;

		&__text {
			height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			&__title {
				margin: 0;
			}
		}
	}
}
