.restaurant-card {
	$borderRadius: 15px;

	position: relative;
	background-color: white;
	box-shadow: 0 6px 6px $shadowColor;
	border-radius: $borderRadius;
	height: 220px;
	margin: 10px 0;

	label {
		position: absolute;
		bottom: 15px;
		right: 5px;
	}

	&--new {
		&::before {
			$margin: 15px;

			content: 'Nouveau';
			position: absolute;
			right: $margin;
			top: $margin;
			z-index: 5;

			background-color: $tertiaryColor;
			color: darken($tertiaryColor, 36.4%);
			padding: 5px 10px;
			font-size: 0.8em;
			border-radius: 2px;
			font-weight: bold;
		}
	}

	&__body {
		background-color: transparent;
		box-shadow: none;
		border-radius: 0;

		position: relative;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		height: 220px;
		margin: 0;

		&__img {
			position: relative;
			object-fit: cover;
			border-radius: $borderRadius $borderRadius 0 0;
			width: 100%;
			height: 160px;
		}

		&__text {
			height: 50%;
			margin: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			&__title {
				margin: 0;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.restaurant-card {
		width: 45%;
		height: 250px;

		&__body {
			width: 100%;
			height: 250px;
		}
	}
}
