.tuto-card {
	display: flex;
	align-items: center;
	background-color: white;
	width: 100%;
	margin: 10px 0;
	height: 70px;
	&--hightlighting > &__body {
		background-color: #f5edff;

		// &__icon {
		// 	color: $primaryColor; // TODO? Essayer de comprendre pourquoi ça marche pas
		// }

		.tuto-card__body__icon {
			color: $primaryColor;
		}
	}

	&__number {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $primaryColor;
		color: white;
		font-size: 0.8em;
		width: 27px;
		height: 25px;
		border-radius: 1000px;
		z-index: 2;
		margin-right: -12px; // TODO! Changer cette horrible ligne
	}

	&__body {
		display: flex;
		align-items: center;
		border-radius: 15px;
		width: 100%;
		height: 100%;
		box-shadow: 0 5px 6px rgb(210, 210, 210);

		&__icon {
			color: #7e7e7e;
			font-size: 1.2em;
			margin: 0 20px 0 30px; // TODO Trouver un meilleur moyen de changer l'espacement avec &__number
		}
	}
}
