.tuto-card {
	$tutocards: 3;
	$marginRightAndLeft: 10px;

	position: relative;
	display: flex;
	align-items: center;
	background-color: white;
	width: 95%;
	margin: $marginRightAndLeft 0 15px $marginRightAndLeft;
	height: 70px;
	transition: 300ms;
	&:hover > &__body {
		background-color: lighten($primaryColor, 36.4%);
	}
	&:hover > &__body > &__body__icon {
		color: $primaryColor;
	}

	@for $number from 1 through $tutocards {
		&:nth-child(#{$number})::before {
			@include numberBeforeTutoCard($number);
		}
	}

	&__body {
		$size: 100%;
		display: flex;
		align-items: center;
		border-radius: 20px;
		width: $size;
		height: $size;
		box-shadow: 0 5px 6px $shadowColor;
		font-weight: bold;
		transition: inherit;

		&__icon {
			color: #7e7e7e;
			font-size: 1.2em;
			margin: 0 20px 0 30px;
			transition: inherit;
		}
	}
}

@mixin for-tablet-and-desktop-only {
	.tuto-card {
		width: 30%;
	}
}
