@font-face {
	font-family: 'Shrikhand';
	src: url('../../../Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('../../../Roboto-Regular.ttf') format('truetype');
}

* {
	font-family: 'Roboto', 'Trebuchet MS';
}

body {
	margin: 0;
	padding: 0;
	max-width: 1440px;
	margin: auto;
}

a {
	color: black;
	text-decoration: none;
}

main {
	background-color: white;
}

.paddinged {
	padding: 0 15px;
}
