.header {
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 6px darken($shadowColor, 20%);
	height: 65px;
	background-color: white;

	&__logo {
		font-family: $secondaryFont;
		margin-top: 5px;
		font-size: 2em;
	}
}
@mixin for-tablet-and-desktop-only {
	.header {
		box-shadow: none;
		width: 45%;
		justify-content: flex-start;
	}
}
