.home-header {
	display: flex;
	flex-direction: column;
	width: 100%;
}
@mixin for-tablet-and-desktop-only {
	.home-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 95%;
		padding: 0 15px;
	}
}
