.restaurants {
	display: flex;
	flex-direction: column;
	background-color: $primaryBackgroundColor;
	padding-top: 30px;
	margin-top: 50px;
	margin-bottom: 50px;

	&__cards {
		display: flex;
		flex-direction: column;
	}
}
