.restaurants {
	display: flex;
	flex-direction: column;
	background-color: $primaryBackgroundColor;
	padding-top: 30px;
	margin-top: 50px;
	padding-bottom: 50px;

	&__cards {
		display: flex;
		flex-direction: column;
	}
}
@include for-tablet-and-desktop-only {
	.restaurants {
		margin-top: 0;
		background-color: white;
		&__cards {
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}
}
